@font-face {
font-family: gothamBold;
src: url(fonts/GothamProBold.otf);
font-weight: bold;
font-style: normal;
}

@font-face {
font-family: gothamMed;
src: url(fonts/GothaProMed.otf);
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: gothamLig;
src: url(fonts/GothaProLig.otf);
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: Arvo;
src: url(fonts/Arvo-Regular.ttf);
font-weight: normal;
font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  
}

body {
	margin: 0;
	padding: 0;
}

.border {
	border: 1px solid black;
}

.content {
	max-width: 1280px;
	margin: auto;
	
}

.screen1 {
	background-color: #dedede;
	height: 820px;
	margin: 0;
	padding: 0;
}

.top-menu-wrap {
	height: 100px;
}

.logo {
	display: inline-block;
	margin: 0;
	padding: 0;
	width: 100px;
}



.logo img {
	
	margin-top: 48px;
	margin-left: 48px;
	padding: 0;
}

.menu {
	display: inline-block;
	width: calc(100% - 250px);
}

.top-menu {
	display: block;
	margin: auto;
	text-align: center;
	margin-bottom: 40px;
}

.top-menu li {
	display: inline;
	text-align: center;
	margin-left: 50px;
	padding: 5px;
}

.top-menu li:first-child {
	margin-left: 0px;
}

.top-menu li a {
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	font-family: gothamBold;
	font-size: 14px;
	letter-spacing: 4px;
}

.top-menu li a:hover {
	color: #d25b55;

}

.wallet {
	display: inline-block;
	width: 100px;
	text-align: right;
}

.wallet img {
	margin-top: 48px;
	margin-right: 30px;
}

h1 {
	margin: 0;
	padding: 0;
	text-align: center;
	font-size: 90px;
	color: #fff;
	text-transform: uppercase;
	font-family: gothamBold;
	letter-spacing: -1px;
	line-height: 1.2;


}

.screen1 h1 {
	margin-top: 120px;
}

h2 {
	margin: 20px;
	padding: 0;
	text-align: center;
	font-family: gothamMed;
	color: #fff;
	text-transform: uppercase;
	font-size: 13px;
	letter-spacing: 4px;


}

.buttons {
	margin-top: 35px;
}

.button1 {
  	display: inline-block;
  	font-family: gothamBold;
	color: #fff;
	text-transform: uppercase;
	font-size: 13px;
	letter-spacing: 4px;
  	text-decoration: none;
  	margin-left: calc(50% - 200px);
  	padding: 1.5em 4em;
  	border-radius: 40px;
	background-color: rgb(210, 91, 85);  	

}

.button2 {
  	display: inline-block;
  	font-family: gothamBold;
	color: #fff;
	text-transform: uppercase;
	font-size: 13px;
	letter-spacing: 4px;
  	text-decoration: none;
  	margin-left: 20px;
  	padding: 1.5em 2em 1.3em 2em;
  	border: 3px solid #fff;
  	border-radius: 40px;

}

.button1:hover {
	box-shadow: 0 5px 5px rgba(255,0,0, 0.1);
}

.button2:hover {
	box-shadow: 0 5px 5px rgba(255,255,255, 0.3);
}

.head-img {
	margin-top: 60px;
	margin-left: calc(50% - 402px);
}

.screen2 {
	margin: 0;
	padding: 0;
	background-color: #f4f4f4;
	height: 450px;
	
	background-image: url(../images/Pencils22.png);
}

.parallax {
	background-position: calc(50% - 200px) 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	
}

.container {
	margin-left: 50%;
	margin-right: 45px;

}

.screen2 p {
	font-family: gothamMed;
	font-size: 16px;
	max-width: 500px;
	margin-left: 20px;
	padding-top: 150px;
	line-height: 1.3;
}



.screen3 {
	background-color: #dedede;
	height: 820px;
	
}

.bomb-wrap {
	display: block;
	width: 1280px;
	position: absolute;
	
}

img.bomb {
	z-index: 400;
	float: right;

	

}

.screen3 h1 {
	padding-top: 95px;
}

.screen3 .container3 {
	display: block;
	max-width: 1100px;
	margin: auto;
	margin-top: 100px;
}

.col-3 {
	display: inline-block;
	width: calc(33% - 20px);
	margin-left: 20px;
	vertical-align: top;
}

.col-3:first-child {
	margin-left: 10px;
}

.screen3 .col-3 {
	text-align: center;
	height: 300px;
	
}

.container3 h3 {
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	font-family: gothamBold;
	font-size: 26px;
	padding-top: 73px;
	letter-spacing: 3px;
}

.container3 p {
	color: #fff;
	text-decoration: none;
	font-size: 20px;
	line-height: 1.2;
	height: 150px;
	margin-top: 30px;
	font-family: gothamlig;
	letter-spacing: 1px;
}

.screen3 .article1 {
	background-image: url(../images/lamp.png);
	background-repeat: no-repeat;
	background-position: 50%;
}

.screen3 .article2 {
	background-image: url(../images/star.png);
	background-repeat: no-repeat;
	background-position: 50%;
}

.screen3 .article3 {

	background-image: url(../images/tools.png);
	background-repeat: no-repeat;
	background-position: 50%;
}

.container4 .article3 h3 {
	color: #fff;
}


.screen4 {
	background-color: #fff;
	height: 980px;
}

.screen4 .pens-wrap {
	position: absolute;
	margin-left: 40px;
}

.screen4 .pens-wrap img {
	z-index: 600;
	margin-top: -60px;
}

.screen4 h1 {
	color: #4c4c4c;
	padding-top: 50px;
}

.screen4 h2 {
	color: #4c4c4c;
	text-transform: none;
	font-family: gothamlig;
	letter-spacing: 0;
	font-size: 15px;
	margin-top: 5px;

}

.container4 {
	display: block;
	max-width: 960px;
	margin: auto;
	margin-top: 100px;
}

.screen4 .col-3 {
	width: 320px;
	margin: 0;
	margin-right: -5px;
	padding: 0;
	height: 590px;
	text-align: center;
	border-radius: 5px;
}

.screen4 .article1 {
	border: 1px solid #a1a1a1;
}

.screen4 .article3 {
	background-color: #595959;
	border: 1px solid #a1a1a1;
}

.container4 img {
	float: right;
	padding-top: 40px;
	margin-bottom: 20px;
}

.screen4 .article1 img {
	padding-top: 130px;
}

.screen4 h3 {
	color: #262626;
	text-transform: uppercase;
	font-family: gothamBold;
	letter-spacing: 4px;
	font-size: 16px;
	margin-top: 10px;
}

.screen4 p {
	color: #9fa1a5;
	font-family: gothamLig;
	font-size: 16px;
	margin-top: 20px;
	margin-bottom: 20px;
	line-height: 1.5;
	letter-spacing: 1px;
	padding-left: 15px;
	padding-right: 15px;
}



.screen4 h4 {
	color: #262626;
	font-family: Arvo;
	font-size: 60px;
}

.screen4 h4:first-letter {
	font-size: 35px;
}

.screen4 .button1 {
	background-color: #d25b55;
	margin: auto;
	font-family: gothamMed;
	padding: 1.4em 3em;
	margin-top: 15px;
}



.screen5 {
	background-color: #dedede;
	background-color: #ffffff;
	height: 30px;
}

.screen5 h1 {
	position: relative;
	text-transform: none;
	color: #434343;
	font-size: 50px;
	font-family: gothamBold;
	line-height: 1;
	padding-top: 100px;
	z-index: 900;

}

.paper-wrap {
	z-index: 200;
	position: absolute;
	margin-top: -150px;
	margin-left: calc(50% - 450px);
}

.paper-wrap img {
	z-index: 205;
}

.form-wrap {
	display: block;
	position: relative;
	z-index: 600;
	width: 400px;
	height: 150px;
	background: url(../images/Rectangle.png) no-repeat;
	background-position: 0px 0px;
	margin: auto;
	margin-top: 90px;
	border: 1px solid rgba(255,255,255, 0);
}

.form1 {
	display: block;
	margin-top: 49px;
	margin-left: 68px;
	width: 300px;
	height: 50px;
}

.form1 .email {
	width: 220px;
	height: 39px;
	padding-left: 10px;
	border: none;
	font-size: 16px;
	margin-top: 1px;
	display: inline-block;
	vertical-align: top;
}

.form1 .button-form {
	display: inline-block;
	vertical-align: top;
	margin-left: 1px;
	

}

.footer {
	display: block;
	position: relative;
	background-color: #f9f9f9;
	bottom: 0px;
	height: 500px;
	margin-top: -80px;
}

.foo-wrap {
	display: block;
	position: absolute;
	width: 100%;
	height: 150px;
	bottom: 0;
}

.foo-1 {
	display: inline-block;
	width: 300px;
	height: 130px;
	
	padding-bottom: 0;
	margin: 0;


}

.foo-1 p {
	color: #595959;
	padding-left: 100px;
	padding-top: 100px;
	font-family: gothamMed;
	font-size: 12px;
}

.foo-2 {
	float: right;
	display: inline-block;
	width: 600px;
	height: 130px;
}

.social {
	text-align: right;
	margin-top: 20px;
	
	display: block;
	width: 550px;
	margin-right: 48px;

}
.foo-2 a {
	display: inline-block;
	
}

.social a {
	margin-left: 10px;
}

.banking {
	text-align: right;
	display:  block;
	width: 550px;
	margin-right: 48px;
	margin-top: 15px;
}

.banking a {
	margin-left: 4px;
}






