@font-face {
  font-family: 'Bebas';
  src: url('../fonts/BebasNeueRegular.eot');
  src: url('../fonts/BebasNeueRegular.eot?#iefix') format('embedded-opentype'), url('../fonts/BebasNeueRegular.woff2') format('woff2'), url('../fonts/BebasNeueRegular.woff') format('woff'), url('../fonts/BebasNeueRegular.ttf') format('truetype'), url('../fonts/BebasNeueRegular.svg#BebasNeueRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'journalism';
  src: url('../fonts/JOURNALISM.eot');
  src: url('../fonts/JOURNALISM.eot?#iefix') format('embedded-opentype'), url('../fonts/JOURNALISM.woff2') format('woff2'), url('../fonts/JOURNALISM.woff') format('woff'), url('../fonts/JOURNALISM.ttf') format('truetype'), url('../fonts/JOURNALISM.svg#JOURNALISM') format('svg');
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
}
body {
  color: #ffffff;
  background: #000000 url('../images/bg.png') no-repeat 50% 45px;
}
.nav-wrap {
  background-color: rgba(152, 151, 151, 0.2);
  height: 47px;
}
.container {
  max-width: 650px;
  display: block;
  margin: auto;
  padding: 0 10px;
}
.logo {
  width: 100px;
  float: left;
  margin-top: 10px;
}
.logo a {
  opacity: 0.7;
  transition: all 0.2s;
}
.logo a:hover {
  opacity: 1;
}
nav {
  float: right;
}
nav ul {
  display: block;
}
nav ul li {
  display: inline-block;
  margin-left: 30px;
  padding-top: 17px;
  padding-bottom: 10px;
}
nav ul li a {
  text-decoration: none;
  color: #b7b6b6;
  text-transform: uppercase;
  font-size: 18px;
  font-family: 'Bebas', sans-serif;
  padding-bottom: 7px;
  transition: all 0.2s;
}
nav ul li a:hover {
  border-bottom: 4px solid #b7b6b6;
  color: #ffffff;
}
.active {
  border-bottom: 2px solid rgba(163, 38, 135, 0.8);
  color: #ffffff;
}
h1 {
  font-size: 80px;
  text-align: center;
  line-height: 80px;
  margin-top: 107px;
  font-family: 'journalism', serif;
  font-weight: normal;
}
.z-index-top {
  z-index: 500;
  position: relative;
}
.btn {
  display: block;
  text-align: center;
  margin-top: 48px;
}
.btn-info {
  display: inline-block;
  font-size: 26px;
  color: #b7b6b6;
  text-decoration: none;
  text-transform: uppercase;
  border: 3px solid #b7b6b6;
  padding: 9px 20px 4px;
  font-family: 'Bebas', sans-serif;
  transition: all 0.3s;
}
.btn-info:hover {
  color: #ffffff;
  border-color: #ffffff;
  background-color: rgba(163, 38, 135, 0.8);
  border-radius: 50px;
  padding: 9px 30px 4px;
}
.main {
  margin-top: 250px;
  margin-bottom: 110px;
}
.main p {
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 20px;
  color: #b7b6b6;
}
.flover1 {
  position: absolute;
  top: 35px;
  left: 0;
}
.flover2 {
  position: absolute;
  top: 145px;
  right: 0;
}
.copy {
  float: left;
}
.copy p {
  font-size: 12px;
  color: #b7b6b6;
  font-family: 'Bebas', sans-serif;
  opacity: 0.8;
}
.copy p span {
  font-family: 'Open Sans', sans-serif;
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
}
.social {
  float: right;
}
.social a {
  opacity: 0.7;
}
.social a:hover {
  opacity: 1;
}
footer {
  padding-bottom: 30px;
  position: relative;
}
.flover3 {
  position: absolute;
  left: 0;
  bottom: 0;
}
.clear {
  display: block;
  clear: both;
}
@media (max-width: 650px) {
  nav ul li {
    margin-left: 10px;
  }
  nav ul li a {
    font-size: 16px;
  }
  .container {
    padding-right: 25px;
  }
  .social {
    margin-top: 10px;
    float: none;
  }
  .social a {
    opacity: 1;
  }
  .copy {
    float: none;
  }
}
@media (max-width: 500px) {
  nav ul li {
    margin-left: 5px;
  }
  nav ul li a {
    font-size: 12px;
    padding-bottom: 9px;
  }
}
